p, small, strong {
    font-size: 115%;
}

.bg {
    margin: 0;
    padding: 0;
    background-color: #FF5722;
    border: none;
    overflow-x: hidden;
}

.logo-full-header {
    margin-top: 2rem;
    max-width: 6rem;
    width: 100%;
}

/*COVER BLOCK*/
#cover-gift h5,
small,
span p {
    margin: 0;
    font-size: 100%;
}

.cover-content {
    border: 1px solid rgba(210, 210, 210,0.80);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(210, 210, 210, 0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(210, 210, 210, 0.75);
    box-shadow: 0px 1px 2px 0px rgba(210, 210, 210, 0.75);
    font-size: 12px;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    text-align: left;
    width: 100%;
}

    .cover-content i {
        padding-right: 0.5em;
    }

.cover-col {
    padding: 0.3em;
}

.cover-header {
    background-color: #fff;
    border-bottom: 1px dashed rgb(210, 210, 210);
    font-weight: bold;
    height: 130px;
    max-height: 130px;
    max-width: 100%;
    min-height: 130px;
    min-width: 100%;
    position: relative;
    width: 100%;
}

.cover-title {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #e4e4e4;
    margin: 0;
    padding: 1em 0.5em;
    position: absolute;
    width: 100%;
}

    .cover-title > span {
        font-size: 10px;
    }

    .cover-title > p {
        margin: 0;
    }

.cover-header img {
    height: 100%;
    width: 100%;
}

.cover-body {
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
}

    .cover-body ul {
        list-style: outside none none;
        margin: 0;
        padding: 0.2em;
    }

        .cover-body ul li {
            color: #333;
            display: inline;
            padding-right: 1em;
        }

.cover-footer {
    border-top: 1px solid rgb(210, 210, 210);
    background-color: #f6f6f6;
    padding: 0.5em;
}

/*detail gift*/
.detail-gift .content-img {
    height: 130px;
    max-height: 130px;
    max-width: 100%;
    min-height: 130px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.detail-gift img {
    height: 100%;
    width: 100%;
}

.fb-color {
    color: #3b5998;
}

.tw-color {
    color: #00aced;
}

.fb-bg {
    background-color: #3b5998;
    color: #fff;
}

.tw-bg {
    background-color: #00aced;
    color: #fff;
}

.map {
    height: 235px;
    margin-bottom: 1em;
}
/*nav app*/
.content-main {
    display: inline-flex;
}

.nav-app {
    background-color: #de5619;
    display: inline-table;
    max-width: 80vw;
    width: 80vw;
}

.content-app {
    position: absolute;
    top: 0;
    width: 100%;
}
/*gift search*/
.btn-gift-search {
    border: none;
    border-radius: 90px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    height: 180px;
    width: 180px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

    .btn-gift-search img {
        width: 65%;
    }

    .btn-gift-search:active, .btn-gift-search-disabled {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.content-gift-search {
    padding-bottom: 5%;
    padding-top: 7%;
}
/*nav*/
.nav-out-margin {
    margin: 0;
}

.image-partner {
    display: table;
    margin: 0 auto;
    max-height: 128px;
    max-width: 128px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    cursor: text;
}

#picture-upload {
    list-style: none;
}
/*circle*/
.circle {
    text-align: center;
}

    .circle a {
        border-radius: 60px;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        height: 65px;
        margin-right: 10%;
        margin-top: 5px;
        padding-top: 20px;
        text-align: center;
        width: 65px;
    }

        .circle a:hover {
            color: #fff;
        }

        .circle a.gmail {
            background-color: #eb4646;
        }

        .circle a.outlook {
            background-color: #0072c6;
        }

        .circle a.yahoo {
            background-color: #500095;
        }
/*start app*/
.welcome {
    color: #fff;
}

.start-session {
    padding-top: 15px;
    padding-bottom: 10px;
}

    .start-session a {
        margin-top: 5px;
    }

/*Helper class for materialize*/

.simple-nav {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 1%;
    margin-top: 1%;
}

.btn-fluid {
    margin: 0;
    width: 100%;
}

.card .card-action-s {
    padding-top: 3px;
    padding-bottom: 3px;
}

.toast.toast-danger {
    background-color: #F44336;
}


a.brand-logo-s {
    font-size: 1.1rem;
}

.logo-nav-open {
    text-align: center;
}

    .logo-nav-open img {
        width: 60%;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

ul.side-nav li {
    float: none;
    padding: 0 3px;
}

i.left {
    float: left;
    margin-right: 25px;
}

ul.side-nav a {
    color: #000;
}

.navbar-actions i {
    font-size: 1.8rem;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px 10px;
    width: 100%;
}

.card-subtitle {
    font-size: 50%;
}

.card.small {
    max-height: 315px;
    height: 310px;
    min-height: 310px;
    max-width: 340px;
    min-width: 335px;
}

    .card.small h5,
    .card.small p,
    .card.small small {
        font-size: 15px;
    }

    .card.small .card-image {
        height: 220px;
    }

    .card.small .card-content {
        height: 120px;
    }

.card .card-content {
    padding: 3px;
}

.card-content li {
    display: inline-block;
    margin-right: 4%;
    font-size: 95%;
    color: #999;
}

    .card-content li i {
        color: #000;
        margin-right: 3px;
    }

    .card-content li del {
        margin-right: 3px;
    }

.card-content span {
    display: inline;
}
/*
* palete color text inspired by
* http://www.google.com/design/spec/style/color.html#color-color-palette
*/
/*gray*/
a.gray-800-text,
.gray-800-text {
    color: #424242;
}

.separator-gray-300 {
    border-bottom: 1px solid #E0E0E0;
}
/*red*/
a.red-500-text {
    color: #F44336;
}
/*deep orange*/
a.deep-orange-500-text,
.deep-orange-500-text {
    color: #FF5722;
}

.separator-deep-orange-500 {
    border-bottom: 1px solid #FF5722;
}
/*********************************
 ***** SOCIAL COLORS *************
**********************************/
/*OUTLOOK*/
.outlook-bg {
    background-color: #094ab1;
}
/*GMAIL COLOR*/
.gmail-bg {
    background-color: #ff002b;
}
/*YAHOO COLOR*/
.yahoo-bg {
    background-color: #7B0099;
}
/*MEGIFT COLOR*/
.megift-bg {
    background-color: #FFB253;
}

.megift-color {
    color: #ffb253;
}
/*progress deep orange*/
.progress.progress-deep-orange {
    background-color: #FFCCBC;
}

    .progress .progress-deep-orange.indeterminate {
        background-color: #FF5722;
    }
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #FF5722;
    box-shadow: 0 1px 0 0 #FF5722;
}
/************************************/
/******** HELPERS *******************/
/************************************/
.row.social-media-content div {
    padding: 1px;
}

.hidden {
    display: none;
}

.text-justify {
    text-align: justify;
}

.content-relative {
    position: relative;
}

/*margin-top*/
.m-top-1rem {
    margin-top: 1rem;
}

.m-top-2rem {
    margin-top: 2rem;
}

.m-top-3rem {
    margin-top: 3rem;
}

.m-top-4rem {
    margin-top: 4rem;
}

.image-fluid {
    display: table;
    margin-bottom: 1rem;
    max-height: 220px;
    width: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.front-content {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
    width: 100%;
    background-color: rgba(0,0,0,.4);
}

    .front-content.transparent-bg {
        background-color: transparent;
        bottom: 14px;
        text-align: center;
    }

        .front-content.transparent-bg p {
            font-size: 130%;
            font-weight: bolder;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
        }

.content-description {
    margin: 0;
    padding: 20px;
    position: relative;
    top: -1px;
}

    .content-description i {
        color: #ff5722;
        position: relative;
        top: 3px;
    }

.text-description p {
    margin: 0;
}

.text-description label {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    /*margin-left: 45px;*/
    padding-bottom: 8px;
}
/*ID FOR sendInvitationsControl*/
#invite-friend-content,
#update-partner-content,
#picture-partner-content,
#submit-form-content {
    position: absolute;
    bottom: -35px;
}
/************************************/
/** OVERWRITE SLIDER MATERIALIZE ****/
/************************************/
.slider {
    height: auto;
}

    .slider ul.indicators {
        height: 30px;
        z-index: 9999;
    }

    .slider ul.slides {
        height: 640px;
        overflow: auto;
    }

        .slider ul.slides li img {
            display: table;
            height: 100%;
            margin: 0 auto;
            max-height: 640px;
            max-width: 430px;
            width: 100%;
        }

.indicators {
    top: 85%;
}

    .indicators.tutorial {
        color: #fff;
        font-weight: bold;
        top: 90%;
    }

ul.side-nav li:hover {
    background-color: #ef8b0f;
}

.container-nav-buttons li {
    padding-top: 3%;
}

    .container-nav-buttons li:hover {
        background-color: #FFB253;
    }
/************************************/
/** OVERWRITE MODAL MATERIALIZE ****/
/************************************/
.modal {
    max-height: 90%;
    position: absolute;
}

    .modal.modal-fixed-footer .modal-footer {
        bottom: 0;
        position: absolute;
    }

    .modal.modal-fixed-footer .modal-content {
        position: relative;
    }

    .modal.modal-fixed-footer {
        height: auto;
    }
/************************************/
/** OVERWRITE NAVBAR-FIXED MATERIALIZE ****/
/************************************/
.navbar-fixed nav {
    position: absolute;
    top: 0;
}
/**************************************************************/
/** OVERWRITE LABEL -CHECKBOX -RADIO BUTTONS  ****************/
/*************************************************************/
[type="radio"] + label::before, [type="radio"] + label::after {
    height: 24px;
    width: 24px;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    font-size: 1.3rem;
    padding-bottom: 2.3rem;
}
/************************************/
/** OVERWRITE SLIDE NAV**************/
/************************************/
nav ul li {
    line-height: 40px;
}

nav ul a {
    font-size: 1.5rem;
}

#nav-mobile i {
    height: 40px;
    line-height: 40px;
    color: #FFB253;
}

ul.side-nav {
    overflow: auto;
    width: 240px;
    z-index: 9999;
}

.drag-target {
    z-index: 9998;
}

#sidenav-overlay {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    display: none;
    height: 115%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    will-change: opacity;
    z-index: 9997;
    display: block;
}

#partner-form {
    margin-top: 3rem;
}
/************************************/
/** LOGIN STYLES ********************/
/************************************/
.image-center {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
}

#login-header {
    height: 100px;
}
/************************************/
/** FLAT UI ********************/
/************************************/
/**INPUTS*/
input.input-flat {
    background-color: #fff;
    border: 1px solid #666;
    font-size: 1.5rem;
    height: 54px;
    /*line-height: 56px;*/
    text-indent: 1rem;
}

    input.input-flat:focus {
        box-shadow: none;
        border: 1px solid #666;
    }
/*BUTTONS*/
.btn,
.btn-flat,
.btn-large {
    border-radius: 4px;
}

    .btn:hover,
    .btn-flat:hover,
    .btn-large:hover {
        box-shadow: none;
    }

    .btn:focus,
    .btn-flat:focus,
    .btn-large:focus {
        box-shadow: none;
    }

.btn-megift-green {
    border-radius: 4px;
    background-color: #629C44;
    color: #fff;
}

    .btn-megift-green:hover {
        box-shadow: none;
        background-color: #629C44;
    }

    .btn-megift-green:focus {
        box-shadow: none;
        background-color: #629C44;
    }

.btn-megift-red {
    border-radius: 4px;
    background-color: #FF3823;
    color: #fff;
}

    .btn-megift-red:hover {
        box-shadow: none;
        background-color: #FF3823;
    }

    .btn-megift-red:focus {
        box-shadow: none;
        background-color: #FF3823;
    }

.btn-nav {
    margin-top: 2%;
    box-shadow: none;
    border-radius: 0;
    padding: 0 1rem;
}

.btn-link, .btn-nav {
    background-color: transparent;
}

    .btn-link:hover,
    .btn-nav:hover {
        background-color: transparent;
    }

    .btn-link:focus,
    btn-nav:focus {
        background-color: transparent;
    }

}
/************************************/
/** SEARCH  GIFT ********************/
/************************************/
#search-gift-content {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#gift-search-btn {
    background-color: transparent;
    border: medium none;
    margin: auto;
    margin-top: 5rem;
    width: 100%;
}



#git-search-msg {
    padding: 0 1rem 0 1rem;
}
/**********************/
/*PROFILE USER ********/
/**********************/
.profile-user {
    margin: 0;
    padding: 0;
    position: relative;
}

    .profile-user > img {
        max-height: 200px;
        width: 100%;
    }

.profile-user-title {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
}

    .profile-user-title > p {
        margin: 0;
        padding: 0;
    }

.ico-camerea {
    font-size: 3rem;
    padding-right: 0.5rem;
    position: absolute;
    text-align: right;
    top: 1rem;
    width: 100%;
}

.ico-camerea-full {
    bottom: 4rem;
    font-size: 8rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}
/**********************/
/*OVERWRITE CARD PANEL*/
/**********************/
.card {
    border: 1px solid #b2b2b2;
    box-shadow: none;
    margin: 0.5rem auto;
    max-width: 360px;
}

    .card a {
        color: inherit;
        text-transform: none;
    }

    .card .card-image .card-title {
        background-color: rgba(0, 0, 0, 0.65);
        font-size: 95%;
        padding: 0 0 0 0.5rem;
    }

.card-sibtitle i {
    padding-right: 0.3rem;
}

.card .card-image img {
    height: 100%;
    max-height: 220px;
    display: table;
}

.select-filter {
    display: block;
    color: #000;
}

.col.center-col {
    float: none;
}

.center-col.col.s6,
.center-col.col.m6 {
    margin: auto;
}
/*************************/
/*OVERWRITE SELECT********/
/**************************/
.select-wrapper input.select-dropdown {
    color: #FFF; /**/
    border-color: #fff;
}

.select-wrapper i {
    color: #fff;
}

.select-wrapper {
    margin-top: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #000;
    display: block;
    padding: 1rem;
}
/********************/
/*** IMAGE LOADER ***/
/********************/
#loader {
    text-align: center;
}

.image-loader {
    margin: 75px auto;
    width: 56px;
    height: 56px;
}
/*******************/
/** TOOLBAR FIXED */
/******************/
body {
    overflow: hidden;
}

.TOP_TOOLBAR,
.BOTTOM_TOOLBAR {
    height: 50px;
    width: 100%;
    position: absolute;
}

.TOP_TOOLBAR {
    top: 0;
}

.BOTTOM_TOOLBAR {
    bottom: 0;
}

.SCROLLER_FRAME {
    bottom: 0;
    height: auto;
    overflow: auto;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -2;
}

    .SCROLLER_FRAME.BOTTOM_TOOLBAR {
        bottom: 50px;
    }
/*******************/
/* OVER WRITE ROW***/
/*******************/
.row {
    margin-bottom: 0;
}
/*********************/
/***OVERWRITE SELECT*/
/********************/
select {
    padding: 0;
    text-align: center;
}

    select.browser-default {
        color: #000;
        background: url(../images/arrow.png) no-repeat right center #fff;
        -webkit-appearance: none;
    }
/************************/
/******* ALIGNS ********/
/***********************/
.align-left {
    text-align: left;
}
/****************************/
/******SOCIAL MEDIA SHARE****/
/****************************/
.social-media {
    background-color: #fff;
}

    .social-media i {
        font-size: 28px;
    }

    .social-media img {
        width: 28px;
        height: 28px;
    }

.whatsapp-color {
    color: #03D008;
}
/**************************/
/***** LINKS *************/
/*************************/
.link-highlight {
    color: highlight;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}

    .link-highlight,
    .link-highlight i,
    .card a.link-highlight {
        color: highlight;
    }
